.articles {
	padding : 10px;
	margin: auto;
	display: block;
	overflow: auto;
}

.articles-card {
	max-width: 20%;
	float: right;
	margin: 10px 10px 10px 10px;
}

.articles-card-header {
	background-image:
		url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}