<div class="mail-list">
	<div class="container">
		<div class="col">
			<mat-icon class="mail-icon">mail outline</mat-icon>
		</div>
		<div class="col">
			<h2>القائمة البريدية</h2>
			<p>إشترك معنا بالقائمة البريدية للحصول على اخر الاضافات</p>
		</div>
		<div class="col">
			<form class="mail-list-form">
				<fieldset class="mail-list-form-full-width">
					<input type="email" placeholder="أدخل بريدك الإلكتروني">
					<button mat-button>
						<mat-icon matPrefix>done</mat-icon>
						إشتراك
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
