<div class="index">
	<app-carousel></app-carousel>

	<div class="row">
		<app-article></app-article>
	</div>

	<div class="row">
		<div class="header">
			<h2>
				<a> العقارات في تركيا </a>
			</h2>
			<hr />
			<div class="line"></div>
		</div>
		<app-article></app-article>
	</div>

	<div class="row">
		<div class="header">
			<h2>
				<a> الخدمات التجارية </a>
			</h2>
			<hr />
			<div class="line"></div>
		</div>
		<app-article></app-article>
	</div>

	<div class="row">
		<div class="header">
			<h2>
				<a> الخدمات التعليمية </a>
			</h2>
			<hr />
			<div class="line"></div>
		</div>
		<app-article></app-article>
	</div>

	<div class="row">
		<div class="header">
			<h2>
				<a> دليل الشركات </a>
			</h2>
			<hr />
			<div class="line"></div>
		</div>
		<app-article></app-article>
	</div>

</div>

