<div class="index">
	<app-carousel></app-carousel>
	
	<div class="row"> 
		<app-article></app-article>
	</div>
	
	<div class="row"> 
		<div class="header">العقارات في تركيا</div>
		<app-article></app-article>
	</div>
	
	<div class="row"> 
		<div class="header">الخدمات التجارية</div>
		<app-article></app-article>
	</div>
	
	<div class="row"> 
		<div class="header">الخدمات التعليمية</div>
		<app-article></app-article>
	</div>
	
	<div class="row"> 
		<div class="header">دليل الشركات</div>
		<app-article></app-article>
	</div>
	
</div>

