.section-dialog{
    width: 700px;
}

@media only screen and (max-width: 960px) {
	.section-dialog{
    	max-width: 500px;
	}
}

@media only screen and (max-width: 599px) {
	.section-dialog {
		max-width: 250px;
	}
}
