<div class="gallery">
	<mat-dialog-content>
		<div class="responsive">
			
			<app-form-upload (imageUplouded)="imageUplouded($event)" ></app-form-upload>
			
			<div class="image" *ngFor="let file of files" (click)="imageSelecte()">
			    <img src="{{'/api/files/' + file}}" alt="{{'/api/files/'+ file}}">
			</div>
			
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
		<fieldset class="control">
		  	<button mat-raised-button color="primary" (click)="imageSelected()">
		  		{{'section-dialog.send'|translate}}
		  	</button>
		  	<button mat-raised-button [mat-dialog-close]="false">
		  		{{'section-dialog.cansel'|translate}}
		  	</button>
		</fieldset>
	</mat-dialog-actions>
</div>
