.gallery{
	width: 710px;
}

.gallery mat-dialog-content{
	padding: 0 6px;
}

.gallery .responsive{
	overflow-y: scroll;
	max-height: 500px;
}

.gallery fancy-image-uploader{
	float: left;
	width: 23% !important;
    height: 160px !important;
    margin: 6px;
}

.gallery .image {
    border: 1px solid #ccc;
    margin: 5px;
    float: left;
    width: 23%;
    height: 160px;
}

.gallery .image:hover {
    border: 1px solid #777;
}

.gallery .image img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 960px) {
	
	.gallery{
    	max-width: 500px;
	}
	
	.gallery fancy-image-uploader{
		float: left;
		width: 47% !important;
		height: 250px !important;
	}
	
    .gallery .image {
        width: 47%;
        margin: 6px;
        height: 250px;
    }
}

@media only screen and (max-width: 599px) {
    
    .gallery {
		max-width: 250px;
	}
	
    .gallery fancy-image-uploader{
		float: left;
		width: 95% !important;
		height: 200px !important;
	}
	
    .gallery .image {
        width: 95%;
        margin: 6px;
        height: 200px;
    }
}

