<div class="gallery">
	<mat-dialog-content>
		<div class="responsive">
			
			<app-form-upload class="image" (imageUplouded)="imageUplouded($event)" ></app-form-upload>
			
			<div class="image" *ngFor="let file of files" >
				<mat-checkbox [checked]="checkselected(file)" color="primary"></mat-checkbox>
			    <img src="{{'/api/files/' + file}}" alt="{{'/api/files/'+ file}}" (click)="selecteImage(file)">
			</div>
			
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
		<fieldset class="control">
		  	<button mat-raised-button color="primary" (click)="save()">
		  		{{'section-dialog.send'|translate}}
		  	</button>
		  	<button mat-raised-button [mat-dialog-close]="false">
		  		{{'section-dialog.cansel'|translate}}
		  	</button>
		</fieldset>
	</mat-dialog-actions>
</div>
