.bannerStyle {
    background-color: #ccc;
    background-size: cover !important;
    background-position:center;
    width: 100%;
    min-height: 700px;
}


.bannerStyle .box{
	text-align: center;
    font-size: 50px;
    color: #fcd201;
    background-color: #3d3d3d7d;
    border: 10px solid #fff;
    position: absolute;
    top: 15%;
    overflow: auto;
    display: inline-table;
    margin: 0 15%;
    padding: 17px;
}

.leftRs {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
	border-radius: 999px;
	left: 0;
}

.rightRs {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
	border-radius: 999px;
	right: 0;
}


@media only screen and (max-width: 1400px) {
	
	.bannerStyle {
		min-height: 600px;
	}
}

@media only screen and (max-width: 800px) {
	.bannerStyle {
		min-height: 500px;
	}
}

@media only screen and (max-width: 400px) {
	.bannerStyle {
		min-height: 400px;
	}
}

