<div style="direction: ltr;">
<ngx-carousel class="banner" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
	<ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
		<div class="bannerStyle" [style.background]="'url(' + tile.url + ')'">
            <div class="box">	
            	<h1>{{tile.title}} </h1> 
            </div>
        </div>
	</ngx-item>
	    
	<button NgxCarouselPrev class='leftRs'>&lt;</button>
	<button NgxCarouselNext class='rightRs'>&gt;</button>    
</ngx-carousel>
</div>

