.account-sections .card-account-sections{
	margin-top: 25px;
	margin-bottom: 25px;
}

.account-sections mat-cell a{
	display: inline-block;
    height: 28px;
    width: 28px;
    text-align: center;
    margin: 2px;
}