<div class="account-sections">
	<div class="container">
		<mat-card class="card-account-sections">
			<mat-card-content>
			
				<mat-table class="managed-table" #table [dataSource]="sections">
					
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef>{{'account-sections.name' | translate}}</mat-header-cell>
						<mat-cell *matCellDef='let section'>{{section.name}}</mat-cell>						
					</ng-container>
					
					<ng-container matColumnDef="description">
						<mat-header-cell *matHeaderCellDef>{{'account-sections.description' | translate}}</mat-header-cell>
						<mat-cell *matCellDef='let section'>{{section.description}}</mat-cell>						
					</ng-container>
					
					<ng-container matColumnDef="articleCount">
						<mat-header-cell *matHeaderCellDef>{{'account-sections.articleCount' | translate}}</mat-header-cell>
						<mat-cell *matCellDef='let section'>{{section.articleCount}}</mat-cell>						
					</ng-container>
					
					<ng-container matColumnDef="options">
						<mat-header-cell *matHeaderCellDef>{{'account-sections.options' | translate}}</mat-header-cell>
						<mat-cell *matCellDef='let section'>
							<a class="warn" (click)="deleteSection(section.idKey.id)"><mat-icon>delete_forever</mat-icon></a>
							<a class="primary"><mat-icon>open_in_browser</mat-icon></a>
						</mat-cell>
					</ng-container>
					
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				    
				</mat-table>
				
				<mat-paginator
			  		[length]="length"
			  		[pageSize]="pageSize"
			  		[showFirstLastButtons]= "true"
			  		[pageSizeOptions]="pageSizeOptions"
			  		(page)="changePage($event)"> 
			  	</mat-paginator>
				
			</mat-card-content>
		</mat-card>
	</div>

</div>