<div class="account-menu">
	
	<!-- The following menu items will be hidden on both SM and XS screen sizes -->
	<mat-toolbar fxShow="true" fxHide.lt-md="true">
		<mat-toolbar-row>
		
			<ng-container *ngTemplateOutlet="accountMenuItemsTemplate"> 
				
			</ng-container>
				
		</mat-toolbar-row> 
	</mat-toolbar>
	
	<!-- The following menu items will be shown on both SM and XS screen sizes -->
	<mat-accordion fxFlexFill fxHide.gt-sm="true">
		<mat-expansion-panel class="account-menu-sm">
			<mat-expansion-panel-header>
		      	<mat-panel-title>
		        	{{'account-menu.controlMenu' | translate}}
		      	</mat-panel-title>
		    </mat-expansion-panel-header>
		    
		    <ng-container *ngTemplateOutlet="accountMenuItemsTemplate"> 
				
			</ng-container>
				  	
		  </mat-expansion-panel>
	</mat-accordion>
</div>

<ng-template #accountMenuItemsTemplate>
	<button mat-button [routerLink]="['/account/home']" 
		routerLinkActive="active">
		{{'account-menu.home' | translate}}
	</button>

	<button mat-button [routerLink]="['/manage/users']" 
		routerLinkActive="active">
		{{'account-menu.m-users' | translate}}
	</button>

	<button mat-button [routerLink]="['/manage/sections']" 
		routerLinkActive="active">
		{{'account-menu.m-sections' | translate}}
	</button>

	<button mat-button [matMenuTriggerFor]="myAd">
		{{'account-menu.myAd' | translate}}
	</button>
	<mat-menu #myAd="matMenu">
		<button mat-menu-item [routerLink]="['/account/section/my']" 
			routerLinkActive="active">
			العقارات
		</button>
		<button mat-menu-item [routerLink]="['/account/section/my']" 
			routerLinkActive="active">الخدمات التجارية</button>
		<button mat-menu-item [routerLink]="['/account/section/my']" 
			routerLinkActive="active">الخدمات التعليمية</button>
	</mat-menu>
			  	
	<button mat-button [matMenuTriggerFor]="newAd">
		{{'account-menu.newAd' | translate}}
	</button>
	<mat-menu #newAd="matMenu">
		<button mat-menu-item [routerLink]="['/account/section/new']" 
			routerLinkActive="active">العقارات</button>
		<button mat-menu-item [routerLink]="['/account/section/new']" 
			routerLinkActive="active">الخدمات التجارية</button>
		<button mat-menu-item [routerLink]="['/account/section/new']" 
			routerLinkActive="active">الخدمات التعليمية</button>
	</mat-menu>

	<button mat-button [routerLink]="['/manage/settings']" 
		routerLinkActive="active">
		{{'account-menu.m-settings' | translate}}
	</button>
			
	<span class="fill-remaining-space"></span>
	 	
	<button mat-button [matMenuTriggerFor]="userMenu">
		{{'account-menu.helo' | translate}}{{user.firstName + user.lastname}}
	</button>
	<mat-menu #userMenu="matMenu">
		<button mat-menu-item [routerLink]="['/account/profile']" 
			routerLinkActive="active">
			<mat-icon matSuffix>face</mat-icon>
			{{'account-menu.profile' |translate}}
		</button>
		<button mat-menu-item [routerLink]="['/account/security']"
			routerLinkActive="active">
			<mat-icon matSuffix>security</mat-icon>
			{{'account-menu.password'|translate}}
		</button>
		<button mat-menu-item (click)="reload()"
			routerLinkActive="active">
			<mat-icon matSuffix>autorenew</mat-icon>
			{{'account-menu.reboot'|translate}}
		</button>
		<button mat-menu-item (click)="logOut()">
			<mat-icon matSuffix>power_settings_new</mat-icon>
			{{'account-menu.logout' |translate}}
		</button>
	</mat-menu>
</ng-template>