<div class="">
<mat-toolbar> 
	<mat-toolbar-row> 
	
		<a mat-button [routerLink]="['/account/home']" 
			routerLinkActive="active">
			{{ 'menu.home' | translate }}
		</a>
		
		<button mat-button [matMenuTriggerFor]="menu">أعلانات</button>
		<mat-menu #menu="matMenu">
		  <button mat-menu-item>العقارات</button>
		  <button mat-menu-item>الخدمات التجارية</button>
		  <button mat-menu-item>الخدمات التعليمية</button>
		  <button mat-menu-item>الخدمات الصحية</button>
		  <button mat-menu-item>الخدمات السياحية</button>
		  <button mat-menu-item>متفرقات</button>
		</mat-menu>
			
	</mat-toolbar-row> 
</mat-toolbar>
</div>