.account-menu{
    background-color: #1973c4;
}

.account-menu mat-toolbar,
.account-menu mat-panel-title,
.account-menu mat-expansion-panel-header ::after{
	color: rgba(255, 254, 254, 0.87) !important;
}

.account-menu .account-menu-sm mat-expansion-panel-header{
    background-color: #1973c4;
}

.account-menu .account-menu-sm button{
	width: 100%;
	border-bottom: 3px solid #b3acaca6;
}

.account-menu .fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}