<div class="navbare" [class.sticky]="navIsFixed">
	<mat-toolbar>
	  	<mat-toolbar-row ><!-- class="container" -->
	    	
	    	<!-- The following menu items will be shown on both SM and XS screen sizes -->
		    <div fxShow="true" fxHide.gt-sm="true">
			     <button mat-button class="open-menu-btn" 
			      		aria-label="menu open close" (click)="sidenav.toggle()">
			      		<mat-icon aria-hidden="true">menu</mat-icon>
			     </button>
			</div>
			
		    <span>
		    	<img src="./assets/images/logo.png" style="height: 50px">
		    </span>
		    
		    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
		    <div fxShow="true" fxHide.lt-md="true">
				<ng-container *ngTemplateOutlet="menuItemsTemplate"> </ng-container>
			    <app-lang-selector></app-lang-selector>
		    </div>
		    
	  	</mat-toolbar-row>
	</mat-toolbar>
	
	<!-- The following menu items will be Shown on both SM and XS screen sizes -->
	<mat-sidenav-container  fxFlexFill fxHide.gt-sm="true" >
	
	    <mat-sidenav #sidenav fxLayout="column">
	    	
<!-- 	    	<button mat-button class="close-menu-btn"  -->
<!-- 	    		aria-label="menu open close" (click)="sidenav.toggle()"> -->
<!-- 	      		<mat-icon aria-hidden="true">close</mat-icon> -->
<!-- 	        </button> -->
	    	<app-lang-selector></app-lang-selector>
	        <ng-container *ngTemplateOutlet="menuItemsTemplate"> </ng-container>
	    
	    </mat-sidenav>
	    
	    <mat-sidenav-content class="sidenav-content"></mat-sidenav-content>
	</mat-sidenav-container>
	
</div>


<ng-template #menuItemsTemplate>
	<a mat-button (click)="sidenav.close()" [routerLink]="['/home']" 
		routerLinkActive="active">
		<mat-icon>home</mat-icon>
		{{ 'menu.home' | translate }}
	</a>
	        
	<a mat-button class="sections-link" 
		(click)="sidenav.close()" [routerLink]="['/section', section.seoName]"
		*ngFor="let section of sections" routerLinkActive="active">
		<mat-icon>business</mat-icon>
		{{section.name}}
	</a>
			
	<a mat-button (click)="sidenav.close()" [routerLink]="['/blog']"
		routerLinkActive="active">
		<mat-icon>bubble_chart</mat-icon>
		{{ 'menu.blog' | translate }}
	</a>
	
	<app-quik-search></app-quik-search>
	
	<span class="example-spacer"></span>
	
	<button mat-raised-button class="btn" color="primary"
		*ngIf="(isAuthentecated | async)"
		[routerLink]="['/account/home']"
		(click)="sidenav.close()">
		<mat-icon>dashboard</mat-icon>
		{{ 'menu.account' | translate }}
	</button>
		    
	<button mat-raised-button class="btn" color="primary" 
		*ngIf="!(isAuthentecated | async)" 
		[routerLink]="['/login']"
		(click)="sidenav.close()">
		<mat-icon>rowing</mat-icon>
		{{ 'menu.login' | translate }}
	</button>
		    
	<button mat-raised-button  
		*ngIf="!(isAuthentecated | async)" 
		[routerLink]="['/register']"
		(click)="sidenav.close()">
		{{ 'menu.register' | translate }}
	</button>
	
</ng-template>

