
<mat-toolbar>
  <mat-toolbar-row>
    
    <span>
    	<img src="./assets/images/logo.png" style="height: 50px">
    </span>
    
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    
    <div fxShow="true" fxHide.lt-md="true">
		<button mat-button>الرئيسية</button>
		<button mat-button>الحدمات السياحية</button>
		<button mat-button>الحدمات السياحية</button>
		<button mat-button>الحدمات السياحية</button>
	    <button mat-button>الحدمات السياحية</button>
	    <button mat-button>دليل الشركات</button>
	    <button mat-button>المدونة</button>
	    <button mat-button>من نحن</button>
	    <button mat-button>اتصل بنا</button>
    </div>
    
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-button (click)="sidenav.toggle()">
      		<mat-icon>list</mat-icon>
      </button>
	</div>
    
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container fxFlexFill fxHide.gt-sm="true" >

	<!-- The following menu items will be Shown on both SM and XS screen sizes -->
    <mat-sidenav #sidenav fxLayout="column">
    	
    	<span>
    		<img src="./assets/images/logo.png" style="height: 50px">
    	</span>
    
    	<button mat-button (click)="sidenav.toggle()">
      		<mat-icon>close</mat-icon>
        </button>
        
        <button mat-button>الرئيسية</button>
		<button mat-button>الحدمات السياحية</button>
		<button mat-button>الحدمات السياحية</button>
		<button mat-button>الحدمات السياحية</button>
	    <button mat-button>الحدمات السياحية</button>
	    <button mat-button>دليل الشركات</button>
	    <button mat-button>المدونة</button>
	    <button mat-button>من نحن</button>
	    <button mat-button>اتصل بنا</button>
	    
    </mat-sidenav>
</mat-sidenav-container>
