@charset "ISO-8859-1";

.navbare {
	height: 85px;
}

.navbare mat-toolbar {
	padding: 10px;
	transition: all 0.5s ease-in-out;
}

.navbare mat-sidenav {
	width: 70%;
	position: fixed;
	padding: 10px;
	z-index: 1000 !important;
}

.navbare mat-sidenav-container {
	display: contents !important;
	z-index: 10000 !important;
}

.navbare .sidenav-content {
	overflow: -webkit-paged-x !important;
	display: none !important;
}

.navbare mat-sidenav .btn {
	border: none;
	margin-bottom: 5px;
}

.navbare a {
	border-bottom: 2px solid #09c;
	color: #09c;
}

.navbare a.sections-link+a.sections-link {
	margin-left: 2px;
	margin-right: 2px;
}

.navbare a.active, 
.navbare a:hover {
	border-bottom: 2px solid #f44336;
	color: #f44336;
}

/* The sticky class is added to the slide bare with JS when it reaches its scroll position */
.navbare.sticky {
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.open-menu-btn {
	width: 40px;
	min-width: 40px;
	padding: 0 5px;
}

.close-menu-btn {
	width: 40px;
	min-width: 40px;
	padding: 0 5px;
}

.example-spacer {
	flex: 1 1 auto;
}


@media only screen and (max-width: 960px) {
	
	.navbare {
		height: 74px;
	}
	.navbare mat-toolbar {
		padding: 5px;
	}
	.navbare.sticky {
		height: 74px;
	}
	
	.navbare a {
		text-align: justify;
	}
	
	.navbare a.sections-link + a.sections-link {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 599px) {
	.navbare {
		height: 65px;
	}
	
	.navbare mat-toolbar {
		height: 65px;
	}
	
	.navbare.sticky {
		height: 65px;
	}
}