<div class="slidebare" [class.sticky]="navIsFixed">
	<mat-toolbar >
	  <mat-toolbar-row>
	    
	    <span>
	    	<img src="./assets/images/logo.png" style="height: 50px">
	    </span>
	    
	    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
	    
	    <div fxShow="true" fxHide.lt-md="true">
	    
			<a mat-button [routerLink]="['/home']" routerLinkActive="active">{{ 'menu.home' | translate }}</a>
			
			<a mat-button class="sections-link" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
			<a mat-button class="sections-link" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
			<a mat-button class="sections-link" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
		    <a mat-button class="sections-link" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
		    <a mat-button class="sections-link" [routerLink]="['/section', 'test1']" routerLinkActive="active">دليل الشركات</a>
		    
		    <a mat-button [routerLink]="['/blog']" routerLinkActive="active">{{ 'menu.blog' | translate }}</a>
		    <a mat-button [routerLink]="['/about']" routerLinkActive="active">{{ 'menu.about' | translate }}</a>
		    <a mat-button [routerLink]="['/contact']" routerLinkActive="active">{{ 'menu.contact' | translate }}</a>
	    
		    <button mat-raised-button color="primary"
		    	[routerLink]="['/login']" 
		    	*ngIf="!authService.isAuthentecated()">
		    	{{ 'menu.login' | translate }}
		    </button>
		    <button mat-raised-button color="accent"
		    	[routerLink]="['/register']"
		    	*ngIf="!authService.isAuthentecated()">
		    	{{ 'menu.register' | translate }}
		    </button>
		    <button mat-raised-button color="warn"
		    	[routerLink]="['/search']">
		    	{{ 'menu.search' | translate }}
		    </button>
		    
		    <app-lang-selector></app-lang-selector>
	    </div>
	    
	    <div fxShow="true" fxHide.gt-sm="true">
	      <button mat-button class="open-menu-btn" aria-label="menu open close" (click)="sidenav.toggle()">
	      		<mat-icon aria-hidden="true">list</mat-icon>
	      </button>
		</div>
	    
	  </mat-toolbar-row>
	</mat-toolbar>
	
	
	<mat-sidenav-container  fxFlexFill fxHide.gt-sm="true" >
	
		<!-- The following menu items will be Shown on both SM and XS screen sizes -->
	    <mat-sidenav #sidenav fxLayout="column">
	    	
	    	<app-lang-selector></app-lang-selector>
	    
	    	<button mat-button class="close-menu-btn" aria-label="menu open close" (click)="sidenav.toggle()">
	      		<mat-icon aria-hidden="true">close</mat-icon>
	        </button>
	        
	        <a mat-button (click)="sidenav.toggle()" [routerLink]="['/home']" routerLinkActive="active">{{ 'menu.home' | translate }}</a>
	        
			<a mat-button (click)="sidenav.toggle()" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
			<a mat-button (click)="sidenav.toggle()" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
			<a mat-button (click)="sidenav.toggle()" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
		    <a mat-button (click)="sidenav.toggle()" [routerLink]="['/section', 'test1']" routerLinkActive="active">الحدمات السياحية</a>
		    <a mat-button (click)="sidenav.toggle()" [routerLink]="['/section', 'test1']" routerLinkActive="active">دليل الشركات</a>
		    
		    <a mat-button (click)="sidenav.toggle()" [routerLink]="['/blog']" routerLinkActive="active">{{ 'menu.blog' | translate }}</a>
		    <a mat-button (click)="sidenav.toggle()" [routerLink]="['/about']" routerLinkActive="active">{{ 'menu.about' | translate }}</a>
		    <a mat-button (click)="sidenav.toggle()" [routerLink]="['/contact']" routerLinkActive="active">{{ 'menu.contact' | translate }}</a>
		        
		    <a mat-raised-button class="btn" color="primary" 
		    	*ngIf="!authService.isAuthentecated()" 
		    	[routerLink]="['/login']" 
		    	(click)="sidenav.toggle()">
		    	{{ 'menu.login' | translate }}
		    </a>
		    <a mat-raised-button class="btn" color="accent" 
		    	*ngIf="!authService.isAuthentecated()" 
		    	[routerLink]="['/register']" 
		    	(click)="sidenav.toggle()">
		    	{{ 'menu.register' | translate }}
		    </a>
		    <a mat-raised-button class="btn" color="warn"
		    	[routerLink]="['/search']" 
		    	(click)="sidenav.toggle()">
		    	{{ 'menu.search' | translate }}
		    </a>
	    </mat-sidenav>
	</mat-sidenav-container>
</div>
