<div class="login">
	<div class="container">
		<mat-card class="login-card">
		   <mat-card-header>
		     <mat-card-title><h2>{{'login.title' | translate}}</h2></mat-card-title>
		   </mat-card-header>
		   <mat-card-content>
		   
				<form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
					
					<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
						{{serverErrorMessage}}
					</div>
					
					<fieldset [ngClass]="{ 'has-error': f.submitted && !username.valid }">
						<input type="text"
							class="form-control" 
							placeholder="{{'login.username' | translate}}"
							id="username" 
							name="username"
							pattern="[^ @]*@[^ @]*" 
							[(ngModel)]="user.username"
							#username="ngModel" required />
							
						<div *ngIf="f.submitted && !username.valid" class="help-block">
							{{'login.validUsername' | translate}}
						</div>
						
					</fieldset>
					
					<fieldset
						 [ngClass]="{ 'has-error': f.submitted && !password.valid }">
						<input 	type="password"
								class="form-control" 
								placeholder="كلمة لمرور"
								id="password" 
								name="password" 
								[(ngModel)]="user.password" 
								#password="ngModel" 
								required />
						<div *ngIf="f.submitted && !password.valid" 
							class="help-block">
							Password is required
						</div>
					</fieldset>
					
					<fieldset class="checkbox">
						
					</fieldset>
					
					<fieldset class="control">
						<button mat-raised-button type="submit">تسجيل الدخول</button>
					</fieldset>
					
				</form>
		     	<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
		     	
		     	<hr/>
		     	<a [routerLink]="['/register']" class=" btn btn-link"> هل نسيت كلمة المرور ؟  </a>
		     	<br/>
		     	<a [routerLink]="['/register']" class=" btn btn-link"> هل انت مستخدم جديد ؟ ، امتلك حسابك الان  </a>
			</mat-card-content>
			 
		</mat-card>
	</div>
</div>

