<div class="login">
	<div class="container">
		<mat-card class="login-card">
		   <mat-card-header>
		     <mat-card-title><h2>{{'login.title' | translate}}</h2></mat-card-title>
		   </mat-card-header>
		   <mat-card-content>
		   
				<form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
					
					<div class="alert alert-danger" role="alert" *ngIf="serverErrorMessage">
						{{serverErrorMessage}}
					</div>
					
					<fieldset class="input-username" [ngClass]="{'has-error': f.submitted && !username.valid}">
						<input type="text"
							placeholder="{{'login.username' | translate}}"
							id="username" 
							name="username" 
							[(ngModel)]="user.username"
							#username="ngModel" 
							required />
						<div *ngIf="f.submitted && !username.valid" class="help-block">
							{{'login.validUsername' | translate}}
						</div>
					</fieldset>
					
					<fieldset class="input-password" [ngClass]="{'has-error': f.submitted && !password.valid}">
						<input type="password"
							placeholder="{{'login.password' | translate}}"
							id="password" 
							name="password" 
							[(ngModel)]="user.password" 
							#password="ngModel" 
							required />
						<div *ngIf="f.submitted && !password.valid" class="help-block">
							{{'login.validPassword' | translate}}
						</div>
					</fieldset>
					
					<fieldset class="checkbox">
						
					</fieldset>
					
					<fieldset class="control">
						<button mat-raised-button type="submit">
							{{'login.submit' | translate}}
						</button>
					</fieldset>
					
					<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
				</form>
		     	
		     	<hr/>
		     	<a [routerLink]="['/register']" >{{'login.forget' | translate}}</a>
		     	<br/>
		     	<a [routerLink]="['/register']" >{{'login.registerNow' | translate}}</a>
			</mat-card-content>
			 
		</mat-card>
	</div>
</div>

