
<div class="register">
	<div class="container">
		<mat-card class="login-card">
		   <mat-card-header>
		     <mat-card-title ><h2> تسجيل مستخدم جديد </h2></mat-card-title>
		   </mat-card-header>
		   <mat-card-content>
				
				<form name="form" 
					(ngSubmit)="f.form.valid && register()" 
					#f="ngForm"	novalidate>
					<div class="alert alert-danger" 
						role="alert" 
						*ngIf="errorMessage">
						{{errorMessage}}
					</div>
					
					<span id="reauth-email" 
						class="reauth-email">
					</span>
					
					<fieldset [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
						<input type="text"
							class="form-control"
							placeholder="الاسم بالكامل" 
							name="firstName" 
							id="firstName"
							[(ngModel)]="user.firstName" 
							#firstName="ngModel" required 
						/>
						<div *ngIf="f.submitted && !firstName.valid" class="help-block">
							The full Name is required
						</div>
					</fieldset>
					
					<fieldset [ngClass]="{ 'has-error': f.submitted && !username.valid }">
						<input type="text"
							class="form-control"
							placeholder="اسم المستخدم" 
							name="username" 
							id="username"
							pattern="[^ @]*@[^ @]*" 
							[(ngModel)]="user.username"
							#username="ngModel" 
							required 
						/>
						<div *ngIf="f.submitted && !username.valid" class="help-block">
							<div *ngIf="username.errors.required">Email is required.</div>
							<div *ngIf="username.errors.pattern">A valid email address is required</div>
						</div>
					</fieldset>
					
					<fieldset [ngClass]="{ 'has-error': f.submitted && !password.valid }">
						<input type="password"
							class="form-control" 
							placeholder="كلمة المرور"
							name="password" 
							id="password"
							[(ngModel)]="user.password" 
							#password="ngModel" 
							required
							minlength="4" 
						/>
						<div *ngIf="f.submitted && !password.valid" class="help-block">
							<div *ngIf="password.errors.required">كلمة السر مطلوبة</div>
							<div *ngIf="password.errors.minlength">كلمة السر تتكون من اربع محارف على الأقل</div>
						</div>
					</fieldset>
					
					<fieldset class="control">
						<button mat-raised-button type="submit">انشاء حساب</button>
						<button mat-raised-button [routerLink]="['/login']"	type="button">إلغاء</button>
					</fieldset>
				</form>
				<!-- /form -->
		
			</mat-card-content>
		</mat-card>
	</div>
</div>





