<div class="register">
	<div class="container">
		<mat-card class="login-card">
		   <mat-card-header>
		     <mat-card-title ><h2>{{'register.title'|translate}}</h2></mat-card-title>
		   </mat-card-header>
		   <mat-card-content>
				
				<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
					
					<div class="alert alert-danger" role="alert" *ngIf="serverErrorMessage">
						{{serverErrorMessage}}
					</div>
					
					<fieldset [ngClass]="{'has-error': f.submitted && !firstName.valid}">
						<input type="text"
							placeholder="{{'register.firstName'|translate}}" 
							name="firstName" 
							id="firstName"
							[(ngModel)]="user.firstName" 
							#firstName="ngModel"
							required />
						<div *ngIf="f.submitted && !firstName.valid" class="help-block">
							{{'register.firstNameRequire'|translate}}
						</div>
					</fieldset>
					
					<fieldset [ngClass]="{'has-error': f.submitted && !username.valid}">
						<input type="text"
							placeholder="{{'register.username' | translate}}"
							name="username" 
							id="username" 
							[(ngModel)]="user.username"
							#username="ngModel" 
							minlength="5" 
							maxlength="8"
							required />
						<div *ngIf="f.submitted && !username.valid" class="help-block">
							<div *ngIf="username.errors.required">{{'register.usernameRequire'|translate}}</div>
							<div *ngIf="username.errors.minlength">{{'register.usernamelength'|translate}}</div>
							<div *ngIf="username.errors.maxlength">{{'register.usernamelength'|translate}}</div>
						</div>
					</fieldset>
					
					<fieldset [ngClass]="{'has-error': f.submitted && !email.valid}">
						<input type="email"
							placeholder="{{'register.email' | translate}}"
							name="email" 
							id="email"
							[(ngModel)]="user.email"
							#email="ngModel" 
							pattern="[^ @]*@[^ @]*" 
							required 
						/>
						<div *ngIf="f.submitted && !email.valid" class="help-block">
							<div *ngIf="email.errors.required">{{'register.emailRequire'|translate}}</div>
							<div *ngIf="email.errors.pattern">{{'register.validEmail'|translate}}</div>
						</div>
					</fieldset>
					
					<fieldset [ngClass]="{'has-error': f.submitted && !password.valid}">

						<input type="password" 
							placeholder="{{'register.password'|translate}}"
							name="password" 
							id="password"
							[ngModel]="user.password"
							#password="ngModel" 
							appEqualValidator="passwordConfirm"
							reverse="true"
							required
							minlength="4" />
						<div *ngIf="f.submitted && !password.valid" class="help-block">
							<div *ngIf="password.errors.required">{{'register.requirePassword'|translate}}</div>
							<div *ngIf="password.errors.minlength">{{'register.validPassword'|translate}}</div>
						</div>
					</fieldset>
					
					<fieldset [ngClass]="{'has-error': f.submitted && !passwordConfirm.valid}">
						<input type="password" 
							placeholder="{{'register.passwordConfirm'|translate}}"
							name="passwordConfirm" 
							id="passwordConfirm" 
							[ngModel]="confirm"
							#passwordConfirm="ngModel"
							appEqualValidator="password"
							required
							minlength="4" />
						<div *ngIf="f.submitted && !password.valid" class="help-block">
							<div *ngIf="passwordConfirm.errors.required">{{'register.requirePassword'|translate}}</div>
							<div *ngIf="passwordConfirm.errors.minlength">{{'register.validPassword'|translate}}</div>
							<div *ngIf="!passwordConfirm.errors.appEqualValidator">{{'register.validPasswordConfirm'|translate}}</div>
						</div>
					</fieldset>
					
					<fieldset class="control">
						<button mat-raised-button type="submit">{{'register.create'|translate}}</button>
						<button mat-raised-button [routerLink]="['/login']"	type="button">{{'register.cancel'|translate}}</button>
					</fieldset>
					
					<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
				</form>
				<!-- /form -->
		
			</mat-card-content>
		</mat-card>
	</div>
</div>
