<div class="footer">
	<div class="container">
	
		<div class="col">
			<ul class="list-unstyled">
				<li><img alt="footer logo" src="./assets/images/logo.png"></li>
				<li>
					<div class="footer-social"> 
						<a href="#" target="_blank" class="fa fa-facebook"> </a>  
						<a href="#" target="_blank" class="fa fa-twitter"> </a>  
						<a href="#" target="_blank" class="fa fa-google-plus"> </a>  
						<a href="#" target="_blank" class="fa fa-instagram"> </a>  
						<a href="#" target="_blank" class="fa fa-whatsapp"> </a>  
					</div>
				</li>
				<li><mat-icon>copyright</mat-icon>{{'footer.title'|translate}} </li>
			</ul>
		</div>
		
		<div class="col">
			<ul class="list-unstyled">
				<li><mat-icon>location_on</mat-icon>{{'footer.address'|translate}}</li>
				<li><mat-icon>phone</mat-icon>{{'footer.mobile'|translate}}</li>
				<li><mat-icon>phone</mat-icon>{{'footer.phone'|translate}}</li>
			</ul>
		</div>

		<div class="col">
			<a mat-button [routerLink]="['/home']">{{'footer.main'|translate}}</a>
			<a mat-button [routerLink]="['/blog']">{{'footer.blog'|translate}}</a>
		    <a mat-button [routerLink]="['/about']"> {{'footer.aboutUs'|translate}}</a>
		    <a mat-button [routerLink]="['/contact']"> {{'footer.contactUs'|translate}}</a>
		</div>

		<div class="col">
		    <a mat-button [routerLink]="['/section']">الحدمات السياحية</a>
			<a mat-button [routerLink]="['/section']">الحدمات السياحية</a>
			<a mat-button [routerLink]="['/section']">الحدمات السياحية</a>
		    <a mat-button [routerLink]="['/section']">الحدمات السياحية</a>
		    <a mat-button [routerLink]="['/section']">دليل الشركات</a>
		</div>

		
	
	</div>
</div>
