.footer {
	background-color: #242424;
	display: block;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	color: #fff;
	padding-top: 20px;
}

.footer a {
	width: 90%;
	text-align: right;
}

.footer img {
	max-width: 200px;
}

.footer mat-icon {
	font-size: 17px;
}

.footer li {
	padding: 5px 0px;
}

.footer .footer-social {
	font-size: 18px;
}

.footer .footer-social .fa {
	padding: 10px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	transition-duration: .5s;
}

.footer .footer-social .fa:hover {
	opacity: 0.7;
}

.footer .row {
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
}

.footer .row .col {
	float: right;
	display: block;
}

.footer .row .col:nth-child(1) {
	width: 25%;
}

.footer .row .col:nth-child(2) {
	width: 35%;
}

.footer .row .col:nth-child(3) {
	width: 20%;
}

.footer .row .col:nth-child(4) {
	width: 20%;
}

@media only screen and (max-width: 1400px) {
	.footer .row {
		width: 1000px;
	}
	.footer .row .col {
		height: 250px;
	}
	.footer .row .col:nth-child(1) {
		width: 50%;
	}
	.footer .row .col:nth-child(2) {
		width: 50%;
	}
	.footer .row .col:nth-child(3) {
		width: 50%;
	}
	.footer .row .col:nth-child(4) {
		width: 50%;
	}
}

@media only screen and (max-width: 800px) {
	.footer .row {
		width: 95%;
		display: block;
		padding-left: 10px;
		padding-right: 10px;
	}
	.footer .row .col:nth-child(1) {
		width: 100%;
	}
	.footer .row .col:nth-child(2) {
		width: 100%;
	}
	.footer .row .col:nth-child(3) {
		width: 100%;
	}
	.footer .row .col:nth-child(4) {
		width: 100%;
	}
}