fieldset{
	display: block;
	overflow: unset;
	position: relative;
	padding-bottom: 1.25em;
}

fieldset.control{
	padding-left: 3px;
	padding-right: 3px;
}

fieldset.select-control{
	padding-bottom: 0px;
}

fieldset label{
	position: absolute;
	top: -6px;
	padding: 0px 2px;
	font-family: 'cairo' !important;
    font-size: 16px;
    color: rgb(255, 64, 129);
}

fieldset mat-form-field{
	display: block !important;
}

input, 
textarea {
	display: block;
    height: 30px;    
    padding: 0px 2px;
    padding-top: 15px;
    padding-bottom: 1px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    font-family: 'cairo' !important;
    font-size: 16px;
    border-bottom: 1px solid #09c;
    color: rgb(255, 64, 129);
}

textarea{
	height: auto;
    overflow: -webkit-paged-y;
    min-height: 100px;
    padding-top: 15px;
}

input::placeholder, 
textarea::placeholder {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: .7s;
	transition: .7s;
	color: #09c;
}

input:hover, 
input:focus, 
input:active:focus,
textarea:hover,
textarea:focus,
textarea:active:focus {
	outline: none;
	border-bottom: 1px solid rgb(255, 64, 129);
}

input:hover::placeholder, 
input:focus::placeholder,
input:active:focus::placeholder,
textarea:hover::placeholder,
textarea:focus::placeholder,
textarea:active:focus::placeholder{
	position: relative;
	-webkit-transform: translateY(-25px);
	transform: translateY(-25px);
	color: rgb(255, 64, 129);
}

