fieldset{
	display: block;
	overflow: auto;
	position: relative;
}

fieldset.control{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

input {
	display: block;
    height: 45px;
    padding-top: 5px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    font-family: 'cairo' !important;
    font-size: 16px;
    border-bottom: 1px solid rgb(63, 81, 181);
    color: rgb(255, 64, 129);
}

input::placeholder {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: .5s;
	transition: .5s;
	color: rgb(63, 81, 181);
}

input:hover, 
input:focus, 
input:active:focus {
	outline: none;
	border-bottom: 1px solid rgb(255, 64, 129);
}

input:hover::placeholder, 
input:focus::placeholder, 
input:active:focus::placeholder{
	position: relative;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	color: rgb(255, 64, 129);
}

fieldset:before, 
fieldset:after{
	font-family: 'FontAwesome';
    color: #3f51b5;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 5px;
}

fieldset.input-username input{
	padding-right: 30px; 
	width: calc(100% - 30px);
}

fieldset.input-username:before {
	content: "\f007";
}

fieldset.input-password input{
	padding-right: 30px; 
	width: calc(100% - 30px);
}

fieldset.input-password:before {
	content: "\f13e";
}


